.form-page {
  background-image: url('../../../images/topography.png');
  background-position: top right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.form-page__step {
  padding-top: 120px;
}

.form-page__step_counter {
  padding-top: 24px;
}

.form-page__press-next {
    font-weight: bold;
    margin-bottom: 200px;
}
