$progress-bar-height: 9px !default
    
.progress-bar {
  width: 100%;
  height: $progress-bar-height;
  overflow: hidden;
  position: relative;
}

.progress-bar__background {
  height: $progress-bar-height;
  width: 110%;
  margin-left: 4px;
  background: red;
  transform: skewX(135deg);
  opacity: 0.5;
  position: absolute;
}

.progress-bar__fill {
  height: $progress-bar-height;
  width: 100%;
  margin-left: 4px;
  background: red;
  transform: skewX(135deg);
}
