.App {
  background-image: url('./images/topography.png');
  background-position: top right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template:
    'sidebar header header header'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main';
}

.App__header {
  grid-area: header;
  flex-direction: row-reverse;
}

.App__save-container {
  display: flex;
  padding-top: 27px;
  padding-right: 90px;
  flex-direction: row-reverse;    
}

.App__sidebar {
  grid-area: sidebar;
  padding-top: 39px;
  padding-left: 42px;
}

.App__logo {
  padding: 8px;
  margin-bottom: 118px;
  font-size: 20px;
  font-weight: 600;
  width: 151px;
  height: 55px;
  line-height: 20px;
  color: #42518f;
  background: #d8d8d8;
  border-radius: 2px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App__main {
  grid-area: main;
  overflow-y: scroll;
}
